<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Goon Squad</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/scripts.js"></script>
</head>
<body>
    <header>
        <h1>Basic Stats</h1>
    </header>
    <nav>
        <a href="/">Homepage</a>
        <a href="basic_stats">Basic Stats</a>
        <a href="database">Database</a>
    </nav>
    <div class="container">
        <p>This is the basic stats page. You can navigate to other pages using the links above.</p>
        <script>
            var headers=headerStats; // Establishing headers variable to be processed in scripts.js
        </script>
        <input type="text" id="searchInput" placeholder="Search...">
        <div style="overflow-x:auto;">
            <table id="dataTable" border="1">
                <thead>
                    <tr>
                        {% for header in headerStats %}
                            <td>{{ header }}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for recapRow in recapData %}
                    <tr>
                        {% for stat in recapRow %}
                            <td>{{ stat }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
