<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Goon Squad</title>
    <link rel="stylesheet" href="{{ url_for('serve_file', filename='webpage/css/styles.css') }}">
    <script src="{{ url_for('serve_file', filename='webpage/js/scripts.js') }}"></script>
</head>
<body>
    <header>
        <h1>Basic Stats</h1>
    </header>
    <nav>
        <a href="/">Homepage</a>
        <a href="basic_stats">Basic Stats</a>
        <a href="database">Database</a>
    </nav>
    <div class="container">
        <p>This is the basic stats page. You can navigate to other pages using the links above.</p>
        
        <!-- Establishing externally referencable arguments -->
        <div id="header-stats" data-argument="{{ headerStats }}"></div>
        <div id="recap-data" data-argument="{{ recapData }}"></div>
        
        <div id="tableContainer" style="overflow-x:auto;">
            <table id="dataTable">
                <thead>
                    <!-- Has two header rows, one for headers and a second for filters. -->
                </thead>
                <tbody>
                    <!-- Has a recap row per athlete -->
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
